<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Crea tu Cuenta</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href = "/css/reset.css">
    <link rel="stylesheet" href = "/css/normalize.css">
    <link rel="stylesheet" href = "/css/footer.css">
    <link rel="stylesheet" href = "/css/header.css">
    <link rel="stylesheet" href = "/css/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
   

</head>
<html>
<body>
    <header class= "main-header">
        <nav class= "main-header-top-bar">
            <figure><img src = "/img/logo-mercado-liebre.svg" class = "logo"></figure>
            <h2 class = "copy-header"> 
                <i class="fas fa-search"></i>
                <!-- <h2> Lugar para poner la barra de busqueda</h2> -->
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de credito
            </h2>
        </nav>
    
            <a class="burger-menu">
                <i class="fas fa-bars"></i>
            </a>
    
        <nav class="main-navbar">   
                <ul class = "left-navbar">
                    <li><a href = "#">Ofertas</a></li>
                    <li><a href = "#">Tiendas Oficiales</a></li>
                    <li><a href = '#'>Vender</a></li>
                    <li><a href = '#'>Ayuda</a></li>
                </ul>
             
                <ul class = "rigth-navbar">
                    <li><a href = "/register.html">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li><a href = "/login.html">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href = ''>Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>  
            <figure>
                <img src = "/img/img-home-banner.jpg" alt = 'Imagen de Banner'>
            </figure>
        
        </header>
    
        <br><br>

<form action="##.html" method="POST"></form>

    <input type="email" placeholder="Nombre de Usuari@" name="email" id="email"><br><br>

    <input type="password" placeholder="Contrasena" name="password" id="password"> <br><br>

    <button type="submit">Enviar</button>

</body>
</html>
